/*conatins intial styling for web page*/
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*conatins intial styling for body*/
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  color: #424242;
}

header,
section {
  box-sizing: border-box;
}

/*using flex design for center section*/
.center{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*ordering items in center div*/
.h1 {
  order: 1;
  width: 20%;
  text-align: left;
}

.h2 {
  order: 2;
  width: 80%;
  text-align: right;
}

/*header design*/
header {
  height: 65px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*logo width and height*/
.header-logo {
  width: 6em;
  min-height: 4em;
}

/*title font-size and margins*/
.header-title {
  font-size: 1.5em;
  color: #2d3c49;
  margin-bottom: -0.2em;
  margin-top: 0.5em;
}

/*subtitle font-size and margins*/
.sub-title {
  color: #2d3c49;
  font-size: 1em;
  margin-top: 0em;
}

/*horizontal line height and color*/
hr {
  margin-top: -0.5em;
  height: 0.1em;
  background-color: grey;
}

/*main image width and margins*/
.main_image {
  margin-top: 0.2em;
  width: 100%;
  height: 500px;
}

/*title color and decorations*/
.title {
  color: #7d97ad;
  font-size: 2.2em;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

/* setting display type as flex*/
.links,
.college,
.office {
  display: flex;
  flex-wrap: wrap;
}

.p1,
.p2,
.p3 {
  width: 100%;
  font-size: 1.8em;
  margin-bottom: 0.3em;
}

.project_image {
  width: 100%;
}

/* setting widths 100% for college and office*/
.c1,
.c2,
.o1,
.o2 {
  width: 100%;
}

/* setting margins for sections college and office*/
.c,
.o {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1.2em;
}

/* setting font-size for text in bullets*/
.o1 li,
.o2 li,
.details {
  font-size: 1.1em;
}

/* setting width and height of icons*/
.icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
